/*!CK:3568060110!*//*1422369947,*/

._5572{background-color:#3b5998;bottom:0;color:#fff;cursor:pointer;font-size:8pt;padding:4px;position:fixed;right:-140px;-webkit-transition:right .5s;width:130px}._5572.show{right:0;-webkit-transition:right .5s}
._3i6{margin-bottom:5px;width:95%}

#bootloader_T_QvE { height: 42px; }
.bootloader_T_QvE { display:block !important; }