<!doctype html>
<html lang="en" class="h-100">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" crossorigin="anonymous">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="/modules/{{module}}/graph.css" crossorigin="anonymous">

	<style type="text/css">
		body, html {
			height: 100%;
		}

		.bgdiv {
			/* The image used */
			background-image: url("/modules/{{module}}/img.jpg");

			/* Full height */
			height: 100%; 

			/* Center and scale the image nicely */
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
	</style>

	<title>Splash</title>
</head>
<body class="d-flex flex-column h-100">

	<div class="bgdiv">

	</div>


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="/static/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
	<script src="/static/popper/popper.min.js" crossorigin="anonymous"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>