<!doctype html>
<html lang="en" class="h-100">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" crossorigin="anonymous">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="/modules/{{module}}/graph.css" crossorigin="anonymous">

	<title>Hello, world!</title>
</head>
<body class="d-flex flex-column h-100">
	<h1>{{module}}</h1>

	

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="/static/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
	<script src="/static/popper/popper.min.js" crossorigin="anonymous"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>